{% extends "base.html" %}

{% block title %}{{ board_category.category_name}} 대화형{% endblock %}

{% block script %}
{% load static %}<script src="{% static 'boardapp/assets/js/boards.js' %}"></script>
{% if error_flag == True %}
<script>alert('게시물 등록에 실패했습니다.');</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="row block-center board">
    <div class="col-12">
        <div class="row" style="height: 50px">
            <div class="col-12"><h3>{{ board_category.category_name }}</h3></div>
        </div>
        <!-- Write Block -->
        {% if user.username and user.is_superuser >= board_category.authority %}
        <div class="write-box">
            <form action="." method="POST" id="write_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-2 right"><p>등록자</p></div>
                    <div class="col-10"><p>{{ user.last_name}}</p></div>
                </div>
                <div class="row">
                    <div class="col-2 right"><p>제목</p></div>
                    <div class="col-10"><input type="text" name="title" id="title" class="form-width-90"/></div>
                </div>
                <div class="row">
                    <div class="col-2 right"><p>내용</p></div>
                    <div class="col-10"><textarea name="content" id="content" class="form-width-90"></textarea></div>
                </div>
                <div class="row">
                    <div class="col-2 right"><p class="middle">이미지</p></div>
                    <div class="col-10"><input type="file" name="img_file" accept="image/gif, image/jpeg, image/png"/></div>
                </div>
                <div class="row">
                    <div class="col-12 center">
                        <input type="button" onclick="writeSend()" value="등록"/>
                        <input type="reset" value="취소"/>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        <!-- List Block -->
        {% for article in articles %}
        <div class="article-view" data-id="{{ article.id }}">
            <div class="row border-top-line">
                <div class="col-12"><h2>{{ article.title }}</h2></div>
            </div>
            <div class="row border-bottom-line">
                <div class="col-6"><h4>
                        <span style="padding-right:30px">{{ article.user.last_name }}</span>
                        <span>{{ article.registered_date|date:"Y-m-d H:i:s" }}</span>
                        <span style="cursor:pointer" onclick="replyView({{ article.id }})">댓글보기</span>
                </h4></div>
                <div class="col-6 right">
                    {% if article.user == request.user %}
                    <form action="{% url 'boarddeleteres' %}" method="POST" data-type="delete" data-id="{{ article.id }}">
                        <input type="hidden" name="article_id" value="{{ article.id }}"/>
                        <input type="hidden" name="referer" value="comm"/>
                        {% csrf_token %}
                        <p>
                            <span style="cursor:pointer" onclick="modifyClick({{ article.id }})">수정</span>
                            <span style="cursor:pointer" onclick="deleteClick({{ article.id }})">삭제</span>
                        </p>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 view-content-comm">
                    <p>{{ article.content }}</p>
                    {% if article.image %}<img src="{{ article.image.url }}"/>{% endif %}
                </div>
            </div>
        </div>
        <div class="article-like" data-id="{{ article.id }}"></div>
        
        <!-- Reply Bock -->
        <div class="row">
            <div class="col-12 article-reply" data-id="{{ article.id }}"></div>
        </div>
        
        <!-- Reply Write Block -->
        {% if user.username %}
        <div class="write-box">
            <form action="" method="POST" data-type="reply" data-id="{{ article.id }}">
                <input type="hidden" name="id" value="{{ article.id }}"/>
                <input type="hidden" name="level" value="0"/>
                {% csrf_token %}
                <div class="row height-80 center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <textarea name="content" class="form-width-90"></textarea>
                    </div>
                    <div class="col-1">
                        <input type="button" onclick="replyWriteSend({{ article.id }})" value="등록" class="form-width-90"/>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        
        {% empty %}
        <div class="row">
            <div class="col-12 center">
                <p>현재 등록된 게시물이 없습니다.</p>
            </div>
        </div>
        {% endfor %}
        
        <!-- Page Block -->
        <div class="row">
            <div class="col-12 margin-10 center">
                <span>
                {% if articles.has_previous %}
                    <a href="?page=1">&laquo; 처음</a>
                    <a href="?page={{ articles.previous_page_number }}">이전</a>
                {% endif %}
                    
                {% for page in page_list %}
                    {% if page == articles.number %}
                        {{ page }}
                    {% else %}
                        <a href="?page={{ page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                    
                {% if articles.has_previous %}
                    <a href="?page={{ articles.next_page_nubmer }}">다음</a>
                    <a href="?page={{ articles.paginator.num_pages }}">마지막 &raquo;</a>
                {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="height-100"></div>
{% endblock %}