.center {
    text-align: center;
}
.right {
    text-align: right;
}
#container {
    min-height:200px;
}
.form-width-90 {
    width: 90%;
}
#container {
    min-width: 310px;
    max-width: 90%;
    min-height: 400px;
    margin: 0 auto
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.reply-reply {
    display: none;
}
.like-tag-1 {
    cursor: pointer;
    background: transparent;
}
.like-tag-2 {
    cursor: default;
    background: #DDDDFF;
}