html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
#container {
    position: relative;
    min-width: 310px;
    max-width: 90%;
    margin: 0 auto;
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}

.form-width-90 {
    width: 90%;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.reply-reply {
    display: none;
}

.like-tag-1 {
    cursor: pointer;
    background: transparent;
}
.like-tag-2 {
    cursor: default;
    background: #DDDDFF;
}